/* EDITABLE CSS */

body { font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

a {color: #4393d0;}

@media (min-width: 769px) {
  /* image size 2048 x 1070 */
  #one > figure { z-index: 0 !important; background-image: url(images/hero-a.jpg); }
  #two > figure { background-image: url(images/hero-b.jpg); }
  #three > figure { background-image: url(images/hero-c.jpg); }
  #four > figure { background-image: url(images/hero-d.jpg); }
  #five > figure { background-image: url(images/hero-e.jpg); }
}

@media (max-width: 768px) {
  /* image size 748 x 401 */
  #one > figure { z-index: 0 !important; background-image: url(images/mobile-hero-a.jpg); }
  #two > figure { background-image: url(images/mobile-hero-b.jpg); }
  #three > figure { background-image: url(images/mobile-hero-c.jpg); }
  #four > figure { background-image: url(images/mobile-hero-d.jpg); }
  #five > figure { background-image: url(images/mobile-hero-e.jpg); }
}
/* END EDITABLE CSS */

section, header, footer, menu, aside, article, nav, figure {display: block;}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #444;
}

header {
  z-index: 1;
  position: absolute;
  bottom:10%;
  left: 10%
}

h1 {
  font-size: 160px;
  color: #fff;
  text-transform: uppercase;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

h1 span {
  display: block;
  font-size: 72px;
  text-indent: 5px;
}

h2 {
  font-size: 48px;
}

h4 {
  color: #666;
}

p {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #236ea7;
}

article {
  z-index: 10;
  position: relative;
  margin: 10%;
  min-height: 200px;
  background: #fff;
}

article > img {
  float: right;
  margin: 0 0 10% 15%;
  width: 33%;
}

figure {
  width: 100%;
  height: 800px;
  z-index: 2;
  margin: 0;
  padding: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  clear: both;
  text-align: center;
  color: #999;
}

@media (max-width: 960px) {
  h1 {
    font-size: 120px;
    line-height: 80px;
  }

  h1 span {
    font-size: 72px;
    text-indent: 3px;
  }
}

@media (max-width: 768px) {
  header {
    position: relative;
    bottom: -250px;
    width: 0px;
    height: 0px;
  }

  h1 {
    font-size: 80px;
    line-height: 52px;
  }

  h1 span {
    font-size: 36px;
  }

  h2 {
    line-height: 42px;
  }

  figure {
    height: 401px;
  }
}

@media (max-width: 480px) {
  header {
    bottom: -200px;
  }

  h1 {
    font-size: 48px;
    line-height: 32px;
  }

  h1 span {
    font-size: 28px;
    text-indent: 2px;
  }

  figure {
    height: 300px;
  }
}